<h4>Edit Member</h4>

<label>Member Name:</label>
<input [(ngModel)]="selectedMember.name">
<br>

<label>Member Age:</label>
<input [(ngModel)]="selectedMember.age">
<br>

<label>Member Book Suggestions:</label>
<input [(ngModel)]="selectedMember.books">
<br>

<label>Member Hosting Dates:</label>
<input [(ngModel)]="selectedMember.hostings">
<br>

<label>Member Dietary Restrictions:</label>
<input [(ngModel)]="selectedMember.diet">

<button (click)="beginUpdatingMember(selectedMember)">Update</button>
<hr>
<button (click)="beginDeletingMember(selectedMember)">Delete</button>
